{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Encurtador de Urls</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Encurtador de links</h1>
        <hr>
        {% bootstrap_messages %}
        <form action="{% url 'core:index' %}" method="post" class="form" autocomplete="off">
           {% csrf_token %}
           {% bootstrap_form form %}
           {% buttons %}
               <button type="submit" class="btn btn-primary">Gerar Nova URL</button>
           {% endbuttons %}
        </form>
        <a href="{{ url_encurtada }}" target="_blank">{{url_encurtada}}</a>
   </div>

    <footer>
        <section class="container flex">
        <div class="item">
            <a href="https://github.com/marcosdaniel0616" target="_blank">
                <img src="{% static 'images/github.svg' %}" >
            </a>
        </div>
        <div class="item">
            <a href="https://www.linkedin.com/in/marcos-daniel-39bb83193/" target="_blank">
                <img src="{% static 'images/linkedin.svg' %}" >
            </a>
        </div>
        </section>
    </footer>

{% bootstrap_javascript jquery='full' %}
</body>
</html>